<li>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Gender
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">Boys</a>
      <a class="dropdown-item" href="#">Girls</a>
    </div>
  </div>
</li>
<li>
  <div class="dropdown">
  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
    Age
  </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">U11</a>
      <a class="dropdown-item" href="#">U12</a>
      <a class="dropdown-item" href="#">U13</a>
      <a class="dropdown-item" href="#">U14</a>
      <a class="dropdown-item" href="#">U15</a>
      <a class="dropdown-item" href="#">U16</a>
      <a class="dropdown-item" href="#">U17</a>
      <a class="dropdown-item" href="#">U18</a>
      <a class="dropdown-item" href="#">U19</a>
    </div>
  </div>
</li>
<li>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      % Range
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">1 %</a>
      <a class="dropdown-item" href="#">2 %</a>
      <a class="dropdown-item" href="#">5 %</a>
      <a class="dropdown-item" href="#">10 %</a>
    </div>
  </div>
</li>
<li>
  <div class="dropdown">
    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
      Region
    </button>
    <div class="dropdown-menu">
      <a class="dropdown-item" href="#">North East</a>
      <a class="dropdown-item" href="#">Mid West</a>
      <a class="dropdown-item" href="#">South</a>
      <a class="dropdown-item" href="#">West</a>
    </div>
  </div>
</li>
<li>
  <button type="button" class="apply-btn btn btn-primary">
    Apply Filters
  </button>
</li>
